<!DOCTYPE html">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Stream torrents to iOS device</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
        <link rel="apple-touch-icon" href="/static/l.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/jquery-1.6.2.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.btn1').click( function() {
                    $('#panel1').show();
                    $('#panel2').hide();
                } ).click();
                $('.btn2').click( function() {
                    $('#panel1').hide();
                    $('#panel2').show();
                });
                if( $('.loading').length ) {
                    setTimeout( function() { window.location.reload(); }, 10000 );
                }
            });
        </script>
    </head>
    <body>
        <div id="wrap">
            <div id="sidebar">
                <div class="header">
                    <p class="title">Torrents</p>
                </div><!--header-->
                <div class="content">
                    {% block sidebar %}{% end %}
                </div><!--content-->
            </div><!--sidebar-->
            <div id="main">
                <div class="header">
                    {% block header %}{% end %} 
                </div>
                <div class="content">
                    {% block content %}{% end %}
                </div>
            </div><!--main-->
        </div><!--wrap-->
    </body>
</html>
