<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Stream torrents to iOS device</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
        <link rel="apple-touch-icon" href="/static/l.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/zepto.min.js"></script>
        <script>
            // All is global
            isWorking = false;
            isIOS =  navigator.userAgent.match(/iPhone/i) ||
                     navigator.userAgent.match(/iPad/i) ||
                     navigator.userAgent.match(/AppleTV/i) ||
                     navigator.userAgent.match(/iPod/i);

            $(document).ready(function() {
                $('.btn1').click( function() {
                    $('#panel1').show();
                    $('#panel2').hide();
                    $("video").hide()
                } ).click();
                $('.btn2').click( function() {
                    $('#panel1').hide();
                    $('#panel2').show();
                });
                if( $('.loading').length > 0 || isWorking) {
                    refresh = setTimeout( function() { window.location.reload(); }, 10000 );
                }
                $('.video').click( function() {
                    var url = $(this).attr("href")
                    if( !isIOS ) {
                        url = url.substring( 0, url.length - ".stream/stream.m3u8".length )
                    }
                    $("video").attr("src", url).show()
                    clearTimeout( refresh )
                    return false;
                });
            });
        </script>
    </head>
    <body>
        <div id="wrap">
            <div id="sidebar">
                <div class="header">
                    <p class="title">Torrents</p>
                </div><!--header-->
                <div class="content">
                    {% block sidebar %}{% end %}
                </div><!--content-->
            </div><!--sidebar-->
            <div id="main">
                <video style="display: none" controls autoplay ></video>
                <div class="header">
                    {% block header %}{% end %} 
                </div>
                <div class="content">
                    {% block content %}{% end %}
                </div>
            </div><!--main-->
        </div><!--wrap-->
    </body>
</html>
